---
layout: default
type: page
---

<div class="entries">
  <h2>Latest Posts</h2>
  <ul>
    {% for post in site.posts limit: 3 %}
    {% unless post.exclude_from_index %}
    <li>
      <a href="{{ post.url }}">
        <h3>{{ post.title }}</h3>
      </a>
      <div class="excerpt">
        <span class="post_date">{{ post.date | date: "%d %B %Y" }}</span>
        {{ post.content | strip_html | truncatewords: 25 }}
      </div>
    </li>
    {% endunless %}
    {% endfor %}
  </ul>
  <a href="/blog">Archive of all posts &rarr;</a>
</div>

<div class="twitter">
  <h2>Latest Tweets</h2>
  <div>
    {% include tweets.md %}
  </div>
</div>

<div class="about-section">
  <h2 id="about-me">About Me</h2>

  <p><img src="/images/tomisme.jpg" alt="picture &quot;Picture of Tom BH&quot;" title="Tom is me." />
  Hello, I’m Thomas Buckley-Houston, but you can call me Tom. I am from Bristol, UK, but I’m currently <a href="/around-the-world">traveling the world</a>.</p>

  <p>I’m a full-stack web developer, you can see the code I’ve written on <a href="http://github.com/tombh">Github</a>.</p>

  <p>In the real world I like to meditate and spend time at <a href="http://www.gaiahouse.co.uk/">Gaia House</a>. I have a degree in Religious Studies and like to read,
  <a href="http://www.tombh.co.uk/ive-written-a-book/">write</a>
  and <a href="http://www.beingordinary.org">podcast</a> about spiritual matters.</p>

  <p>Please feel free to get in touch — <strong>tom<span style="display:none">nospam</span>@tombh.co.uk</strong></p>

  <p>
  Or follow my <a href="http://www.twitter.com/twombh">tweets</a>, sigh at my <a href="https://www.facebook.com/tbuckleyhouston">Facebook</a> updates, watch my <a href="https://www.youtube.com/user/iamtombh/videos">Youtubes</a>, look at my <a href="http://www.flickr.com/photos/tombuckley/">Flickr</a>, or hangout on my <a href="https://plus.google.com/115720766788573901001">G+ profile</a>.
  </p>

</div>

<div class="showcase-section">
  <h3 id="texttop">Texttop</h3>

  <p><a href="https://github.com/tombh/texttop">
    <img src="http://i3.ytimg.com/vi/TE_D_fx_ut8/hqdefault.jpg" alt="Texttop" />
  </a></p>

  <p>I glued together various tools to render a complete Linux desktop into a TTY terminal. Complete with mouse and
  keyboard input. I made it to be used over MoSH (SSH) so that I can use a complete modern browser on very low
  bandwidth connections. It got to <a href="https://news.ycombinator.com/item?id=11744221">the front page of Hacker News</a>.
  </p>

  <p><a href="https://github.com/tombh/texttop">Source on Github</a></p>

  <div class="showcase-break"></div>

  <h3 id="walking-wales">Walking Wales</h3>

  <p><a href="https://www.youtube.com/watch?v=6uQ0RfoOVC4">
    <img src="/images/walking_wales.jpg" alt="Walking Wales" />
  </a></p>

  <p>In the Autumn of 2014 I walked solo 270km from North Wales to my flat in Bristol. Somewhat of a pilgrimage I managed to
  document the adventure on video, which <a href="https://www.youtube.com/watch?v=6uQ0RfoOVC4">you can now watch it on Youtube</a>.</p>

  <div class="showcase-break"></div>

  <h3 id="peas-platform-as-a-service">Peas: Platform as a Service</h3>

  <p><a href="https://github.com/tombh/peas">
    <img src="/images/peas.jpg" alt="Peas" />
  </a></p>

  <p>Possibly the most complex software I’ve ever written. This is a <a href="https://heroku.com">Heroku</a>-inspired service that
  allows you to host and scale your own <a href="http://12factor.net">12 Factor Apps</a>. It got on
  <a href="https://news.ycombinator.com/item?id=7540681">the front page of Hacker News</a>.</p>

  <p><a href="https://github.com/tombh/peas">Source on Github</a></p>

  <div class="showcase-break"></div>

  <h3 id="tedx-talk">TEDx Talk</h3>

  <p><a href="https://www.youtube.com/watch?v=FmpX1jkLrSY">
    <img src="/images/youtube_bread_cat.jpg" alt="Dharma API" />
  </a></p>

  <p>I gave a short talk at TEDx Bath about vulnerability. It used pictures of cats with their heads sticking through pieces of bread, people laughed.</p>

  <p><a href="https://www.youtube.com/watch?v=FmpX1jkLrSY">You can watch it on Youtube</a>.</p>

  <div class="showcase-break"></div>

  <h3 id="the-dharma-api">The Dharma API</h3>

  <p><a href="http://dharma-api.com">
    <img src="/images/dharma-api.png" alt="Dharma API" />
  </a></p>

  <p>This is an ambitious project to try and archive all the dharma talks (Buddhist-themed teachings about meditation) on the Internet. There’s about 17 thousand at the moment. It’s written using Ruby’s Sinatra to adhere to traditioanl REST specifications.</p>

  <p><a href="http://dharma-api.com">Visit site</a> or <a href="https://github.com/tombh/dharma-api">view source on Github</a>.</p>

  <div class="showcase-break"></div>

  <h3 id="wnop-mdash-compiz-enabled-linux">wNOP — Compiz-enabled Linux</h3>

  <p><a href="http://www.murga-linux.com/puppy/viewtopic.php?t=24871">
    <img src="/images/compiz_small.jpg" alt="wNOP - Compiz Linux" />
  </a></p>

  <p>I was, for a while, actively involved in the <a href="http://www.puppylinux.org">Puppy Linux</a> community during which time
  I developed a popular derivative called <a href="http://www.murga-linux.com/puppy/viewtopic.php?t=24871">wNOP</a> that
  automatically configured the OpenGL Window Manager, <a href="http://www.youtube.com/watch?v=_ImW0-MgR8I&amp;feature=related">Compiz-Fusion</a>, ‘out-of-the-box’. So I am told, tens of thousands of copies
  have been downloaded.</p>

</div>
