<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-GB">
  <head profile="http://gmpg.org/xfn/11">
    <title>{% if page.title %} {{ page.title }} {% else %} tom bh {% endif %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="Me_DN7gOhDhF0PNu5ALBSOd-_362oOMSMAQXOFmEuXI" />
    <meta name="fingerprint" content="PJ2Z N6TO V2VE AGIM BNIX M434 F8NM MN7R" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/pygments.css" />

    <link rel="icon" href="/images/favicon.png" type="image/png" />
  </head>

  {% if page.type == 'page' %}
  <body class="{{ page.slug }}">
    {% else %}
    <body class="blog">
      {% endif %}

      <div class="wrapper">

        <div class="header_wrap">
          <a class="header" href="/" title="tom bh" rel="home">
            <div class="blog-title">
              <span>
                <img class="heart_logo" src="/images/heart_logo.png" width="100" alt="Watercolour Heart Logo" />
                tom bh
              </span>
            </div>
            <div class="blog-description">
              #Digital Nomad<br />
              #Meditator
            </div>
          </a>

          <div style="clear:both"></div>
        </div>

        <div style="clear:both"></div>

        <div classs="container">
          <div class="content">

            {{content}}

          </div><!-- #content -->
        </div><!-- #container -->
      </div><!-- #wrapper .hfeed -->

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <script src="/js/main.js"></script>
    </body>
</html>
